.clients__list {
  @media screen and (max-width: 1199px) {
    @include flex();
    flex-wrap: wrap;
  }

  margin: -10px;

  @media screen and (min-width: 768px) {
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    @include flex($jc: space-between);
  }
}

.clients__item {
  @include flex($jc: center, $ai: center);

  @include border($company-logo-color);
  @include transition(border-color);

  &:hover,
  &:focus {
    border-color: $accent-color;
  }

  margin: 10px;

  flex-basis: calc((100% - 10px * 4) / 2);

  @media screen and (min-width: 768px) {
    margin: 15px;

    flex-basis: calc((100% - 15px * 6) / 3);
  }
}

.clients__logo {
  padding: 16px;
  fill: $company-logo-color;
  @include transition(fill);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
