.contacts__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    @include flex($ai: center);
  }
}

.contacts__link {
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    @include flex($ai: center);

    color: $primary-text-color;
    fill: $primary-text-color;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @include transition(color, fill);

    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.contacts__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    @include flex();
    margin-right: 50px;
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/* альтернатива */
/* .contacts .contacts__item:not(:last-child){
  margin-right: 50px; */

.contacts__mail-icon,
.contacts__phone-icon {
  margin-right: 10px;
}
