.contacts__list {
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    @include flex($ai: center);
    margin-left: auto;
  }
}

.contacts__link {
  @include flex($ai: center);

  color: $primary-text-color;
  fill: $primary-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @include transition(color, fill);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.contacts__item {
  @include flex();
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

/* альтернатива */
/* .contacts .contacts__item:not(:last-child){
  margin-right: 50px; */

.contacts__mail-icon,
.contacts__phone-icon {
  margin-right: 10px;
}
