.site-nav {
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    @include flex($ai: center);
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__link--current {
  color: $accent-color;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}

.site-nav__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
