.social__list {
  width: 206px;
  @include flex($jc: space-between, $ai: center);
}

.social__icon {
  fill: $white-text-color;
}

.social__link {
  @include flex($ai: center);
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
