.team {
  background-color: $secondary-bg-color;
}

.team__list {
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    margin-right: -30px;
    margin-bottom: -30px;
    @include flex($jc: space-between);
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    @include flex($jc: space-between);
  }
}

.team-member {
  background-color: $white-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;

  @media screen and (max-width: 1199px) {
    padding-bottom: 24px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.team-member__photo {
  width: 100%;
}
.team-member__name {
  margin-top: 30px;
  margin-bottom: 10px;

  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-member__profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.team-member__social-list {
  @include flex($jc: space-between);
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    margin: 0 32px 30px;
  }
}

.team-member__social-icon {
  @include flex($ai: center);

  padding: 12px;
  fill: $company-logo-color;
  border-radius: 50%;

  @include transition(fill, background-color);

  &:hover,
  &:focus {
    fill: $white-text-color;
    background-color: $accent-color;
  }
}
