body {
  margin: 0 auto;
  background-color: $white-text-color;
  color: $primary-text-color;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0.03em;
  max-width: 1600px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
  font-size: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
