$primary-text-color: #757575;
$title-text-color: #212121;
$black-text-color: #000000;
$white-text-color: #ffffff;
$contacts-footer-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$secondary-bg-color: #f5f4fa;
$footer-hero-bg-color: #2f303a;
$focus-hover-color: #188ce8;
$primary-border-color: #eeeeee;
$secondary-border-color: #ececec;
$company-logo-color: #afb1b8;
$primary-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
